.needs-validation {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    font-weight: bold;
    font-size: 12px;
}

.load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    display: none;

}

.load img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}